body{
	background: #f0f0f0;
}

#logos{
	background-image: url("../img/logo-ori-sm.png");
	background-size: 110px auto;
	width : 150px;
	height: 50px;
	background-repeat: no-repeat;
}
.init-search{
	margin-right: 0px;
	text-align: center;
	margin-bottom: 5px;
}


#init-search-btn{
  	  border-radius: 5px;
}

.catalog-wrapper , .detail-wrapper, .list-wrapper{
	margin-top: 70px;
}

#page-top{
	background-color: "#aaa";
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

/* Catalog */
.catalog-img{
	background-size: 360px auto;
	width: auto;
	height: 195px;
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-bottom: 25px;
}

.catalog,.list,.detail{
	margin-top: 20px;
}

.catalog-info-top{
	position: absolute;
	background-color: rgba(240, 248, 255, 0.9);
	width: 150px;
	height: 60px;
	left: 40px;
	color: #100942;
}

.catalog-info-bottom{
	position: absolute;
	top: 120px;
	left: 250px;
	background-color: rgba(251, 201, 47, 0.9);
	width: 150px;
	height: 50px;
	color: #100942;
}

.catalog-name{
	margin-left: 10px;
	margin-top: 5px;
	font-size: 20px;
	
}

.catalog-review{
	margin-left: 10px;
	font-size: 15px;
}

.catalog-point{
	margin-left: 5px;
	margin-top: 5px;
	font-size: 27px;
	text-align: center;
	padding-right: 15px;
}

/*Detail item*/

.detail{
	color: black;
}
.detail-left{
	
}

.detail-img{
	margin-top: 15px;
}

.detail-img-main{
	width: 455px;
	height: 285px;
}

.detail-img-small{
	width: 210px;
	height: 125px;
	margin-left: -15px;
	margin-right: -25px;
}

.detail-owner-img{
	width: 50px;
	height: 50px;
	border-radius: 30px;
}

.detail-points{
	font-size: 16px;
}

.detail-owner-name{
	font-size: 20px;
}

.detail-owner-level{
	font-size: 15px;
}

.detail-owner-left{
	margin-right: -25px;

}

.detail-description{
	text-align: justify;
}

#detail-hline{
	max-width: 250px;
}

/* List */
.list-info-top{
	position: absolute;
	background-color: rgba(240, 248, 255, 0.85);
	width: 150px;
	height: 40px;
	left: 40px;
	color: #100942;
}

.list-box-available{
	position: absolute;
	top: 120px;
	left: 250px;
	background-color: rgba(0, 128, 0, 0.85);
	width: 150px;
	height: 50px;
	color: white;
}
.list-box-borrowed{
	position: absolute;
	top: 93px;
	left: 250px;
	background-color: rgba(255, 0, 0, 0.85);
	width: 150px;
	height: 100px;
	color: white;
}

.list-status-borrowed{
	margin-left: 5px;
	margin-top: 5px;
	font-size: 27px;
	text-align: center;
	padding-right: 15px;
	color: white;
	
}

.list-status-available{
	margin-left: 5px;
	margin-top: 5px;
	font-size: 27px;
	text-align: center;
	padding-right: 15px;
	color: white;
	
}

.list-add{
	position: absolute;
	background-color: #f0f8ff;
	width: 175px;
	height: 50px;
	top : 70px;
	left: 130px;
	color: #100942;
	font-size: 20px;
	padding-top: 10px;
	padding-left: 10px;
}

.request-status-waiting{
	margin-left: 5px;
	margin-top: 5px;
	font-size: 27px;
	text-align: center;
	padding-right: 15px;
	color: black;
}

.request-box-waiting{
	position: absolute;
	top: 120px;
	left: 250px;
	background-color: rgba(255, 255, 0, 0.85);
	width: 150px;
	height: 50px;
	color: black;
}

.request-status-rejected{
	margin-left: 5px;
	margin-top: 12px;
	font-size: 27px;
	text-align: center;
	padding-right: 15px;
	color: black;
	font-size: 16px;
}

.request-box-rejected{
	position: absolute;
	top: 120px;
	left: 250px;
	background-color: rgba(255, 0, 0, 0.85);
	width: 150px;
	height: 50px;
	color: black;
}

.edit-input{
	width: 150px;
	text-align: right;
	font-size: 10;
}

.info-borrowed{
	font-size: 15px;
}

#save-edit{
	margin: 10px;
	font-size: 20px;
	width: 100px;
	height: auto;
	border-radius: 10px;
}

.filterdate{
	width: 200px;
}

.pd{
	padding: 3px;
}

table{
    table-layout: fixed;
}

td{
    word-wrap:break-word;
}

#alert-field{
	display: none;
}

.inline-block{
	float: left;
}

.review-number{
	
}

.review-font{
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 25px;

}

.content-wrapper{
	margin-top: 40px;
}

html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #input-meetingpoint {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #input-meetingpoint:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #map-canvas{
        height: 250px;
        width: 400px;
      }
/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

@media (min-width: 768px){
	.affix-top #logos{
		background-image: url("../img/logo-white-sm.png");
		background-size: 110px auto;
		width : 150px;
		height: 50px;
		background-repeat: no-repeat;
	}

	.affix #logos{
		background-image: url("../img/logo-ori-sm.png");
		background-size: 110px auto;
		width : 150px;
		height: 50px;
		background-repeat: no-repeat;
	}
	
	.init-search{
		margin-right: -20px;
		text-align: left;

	}

	.affix-top{
		background-color: #222d32;
	}
}

.left{
	text-align: left;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}

.justify{
	text-align: justify;
}